<a href="https://colab.research.google.com/github/chan8798/PA18/blob/main/ch5/ch5_exercises_PA18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ch5_exercises_pa18.ipynb

## Q1.
> 다음은 Calculator 클래스이다.

```
class Calculator:
    def __init__(self):
        self.value = 0

    def add(self, val):
        self.value += val
```
---
> 위 클래스를 상속하는 UpgradeCalculator를 만들고 값을 뺄 수 있는 minus 메서드를 추가해 보자. 
>> 즉 다음과 같이 동작하는 클래스를 만들어야 한다.
```
cal = UpgradeCalculator()
cal.add(10)
cal.minus(7)
print(cal.value) # 10에서 7을 뺀 3을 출력
```

In [ ]:
# [Q1] Code  
class Calculator:
    def __init__(self):    # 클래스 초기화 
        self.value = 0     # self의 값을 0으로 초기화
 
    def add(self, val):    
        self.value += val  # self.value에 받는 값을 누적하여 더함

class UpgradeCalculator(Calculator):   # Calculator 클래스를 상속하는 클래스 UpgradeCalculator
    def minus(self, val):
        self.value -= val  # self.value에 받는 값을 누적하여 뻄

cal = UpgradeCalculator()  # cal에  UpgradeCalculator 호출
cal.add(10)                # add함수에 값을 10을 넣고 실행
cal.minus(7)               # minus함수에 값을 7을 넣고 실행
print(cal.value) # 10에서 7을 뺀 3을 출력

3

## Q2.
> 객체변수 value가 100 이상의 값은 가질 수 없도록 제한하는 MaxLimitCalculator 클래스를 만들어 보자. 
>> 즉 다음과 같이 동작해야 한다.
```
cal = MaxLimitCalculator()
cal.add(50) # 50 더하기
cal.add(60) # 60 더하기
print(cal.value) # 100 출력
```
>> 단 반드시 다음과 같은 Calculator 클래스를 상속해서 만들어야 한다.
```
class Calculator:
    def __init__(self):
        self.value = 0
    def add(self, val):
        self.value += val
```

In [ ]:
# [Q2] Code
class Calculator:
    def __init__(self):        # 클래스 초기화
        self.value = 0         # self의 값을 0으로 초기화
    def add(self, val):
        self.value += val      # self.value에 받는 값을 누적하여 더함

class MaxLimitCalculator(Calculator):  # Calculator 클래스를 상속하는 클래스 MaxLimitCalculator
    def add(self, val):       # 메서드 오버라이딩을 이용해 부모클래스의 동일한 이름의 함수를 재생성
        self.value += val     # self.value에 받는 값을 누적하여 더함
        if self.value > 100:  # 만일 self.value내의 값이 100
          self.value = 100
          print("최대 숫자는 100을 넘을 수 없습니다.",)



cal = MaxLimitCalculator()   # cal에  UpgradeCalculator 호출
cal.add(50) # 50 더하기
cal.add(60) # 60 더하기
print(cal.value) # 100 출력

최대 숫자는 100을 넘을 수 없습니다.
100

## Q3.
> 다음 결과를 예측해 보자.

- 하나.
```
all([1, 2, abs(-3)-3])
```

- 둘.
```
chr(ord('a')) == 'a'
```

In [ ]:
# [Q3] Code
print(abs(-3))
all([1, 2, abs(-3)-3])
# abs함수는 받은 숫자를 절댓값으로 돌려준다.
# all 함수는 iterable 내의 모든 요소가 참(True)일 경우 True를
# 모든요소 중 하나라도 거짓(False)일 경우 False를 출력하는데 위의 상황은 
# abs함수로 -3의 정수인 3이 된 숫자가 리스트내에서 3-3으로 연산되고 그값으로 0이 되어 
# 리스트 내에는 [1,2,0]이라는 숫자가 남게 되는데 파이썬은 숫자 0은 거짓(False)으로 취급
# 하기 때문에 False가 출력된다.

3

False

In [ ]:
# [Q3] Code2
print(ord('a'))
print(chr(97))
chr(ord('a')) == 'a'
# chr함수는 아스키코드 값을 받으면 그 값에 해당하는 문자 출력
# ord함수는 받은 문자를 아스키코드로 출력
# ord('a')에서 'a'를 아스키코드 97로 변환 해주고 chr(97)에서 다시 문자 'a'로 변환 해주기 때문에 참(True)가 출력 된다.

97
a

True

## Q4.
> filter와 lambda를 사용하여 리스트 [1, -2, 3, -5, 8, -3]에서 음수를 모두 제거해 보자.

In [ ]:
# [Q4] Code
numbers = [1, -2, 3 ,-5, 8, -3]
list(filter(lambda num:num>0,numbers))

# lambda 인자:표현식  의 형식으로 사용

# filter 함수는 filter(함수명,[앞의 함수에 들어가는 반복가능자료형])의 형식으로 사용하며
# 두 번째 인수인 자료형이 첫 번째 인수인 함수에 입력되었을 때 반환 값이 참인 것만 묶어서 반환

[1, 3, 8]

## Q5.
> 234라는 10진수의 16진수는 다음과 같이 구할 수 있다.
```
hex(234)
'0xea'
```
> 이번에는 반대로 16진수 문자열 0xea를 10진수로 변경해 보자.
>>※ 내장 함수 int를 활용해 보자.

In [ ]:
# [Q5] Code
int('0xea',16) # int('16진수',16)은 16진수로 표현되어있는 값을
               # 10진수로 변환 해준다.

234

## Q6.
> map과 lambda를 사용하여 [1, 2, 3, 4] 리스트의 각 요솟값에 3이 곱해진 리스트 [3, 6, 9, 12]를 만들어 보자.

In [ ]:
# [Q6] Code
numbers =  [1, 2, 3, 4]
list(map(lambda x:x*3,numbers))
# map(함수, 반복가능자료형)의 형식으로 사용하며
# 입력받은 자료형의 각 요소를 함수가 수행한 결과를 묶어서 돌려줌

[3, 6, 9, 12]

## Q7.
> 다음 리스트의 최댓값과 최솟값의 합을 구해 보자.
>> [-8, 2, 7, 5, -3, 5, 0, 1]

In [ ]:
# [Q7] Code
List = [-8, 2, 7, 5, -3, 5, 0, 1]
max(List) + min(List)
# max(반복가능자료형)의 형식으로 사용
# 받은 자료형의 가장 큰 값을 돌려줌

# min(반복가능자료형)의 형식으로 사용
# 받은 자료형의 가장 작은 값을 돌려줌

-1

In [ ]:
List = [-8, 2, 7, 5, -3, 5, 0, 1]
count = 0
while count < 4:                 # count가 4 이하이면 반복
  count += 1                     # while 문이 반복 할 때마다 count+1
  print(max(List) + min(List))   # List내의 최대값과 최소값을 더한값을 출력
  List.remove(max(List))         # List내의 최대값 제거
  List.remove(min(List))         # List내의 최소값 제거

-1
2
5
3

In [ ]:
List = [-8, 2, 7, 5, -3, 5, 0, 1] 
List.sort()                               # List내의 숫자 정렬
maximum = 0
least = 7

while maximum < len(List)/2:             # maximum의 값이 len(List)/2 (4)의 값보다 작을 경우 반복 
  print(List[maximum]+List[least])       # List내의 maximum(0+n)자리의 수와 least(7-n)자리의 수를 더한 값을 출력
  maximum += 1                           # maximum의 값 1증가
  least -= 1                             # least의 값 1감소

-1
2
5
3

## Q8.
> 17 / 3의 결과는 다음과 같다.
```
17 / 3
5.666666666666667
```
> 위와 같은 결괏값 5.666666666666667을 소숫점 4자리까지만 반올림하여 표시해 보자.

In [ ]:
# [Q8] Code
round(17/3,4)
# round(임의의숫자, 소숫점자리])의 형식으로 사용
# 숫자를 입력받아 원하는 소숫점에서 반올림 해줌

5.6667

In [ ]:

num=17/3
print("%.4f"%num)

5.6667

## Q9.
> 다음과 같이 실행할 때 입력값을 모두 더하여 출력하는 스크립트

> (C:\doit\myargv.py)를 작성해 보자.
```
C:\> cd doit
C:\doit> python myargv.py 1 2 3 4 5 6 7 8 9 10
55
```
>> ※ 외장 함수 sys.argv를 사용해 보자.

In [ ]:
# [Q9] Code
# myargv.py
"""
import sys

numbers = sys.argv[1:] # 파일 이름을 제외한 명령 행의 모든 입력

result = 0
for number in numbers:
    result += int(number)
print(result)
"""

In [ ]:
run myargv.py 1 2 3 4 5 6 7 8 9 10

55

## Q10.
> os 모듈을 사용하여 다음과 같이 동작하도록 코드를 작성해 보자.

1. ./doit 디렉터리로 이동한다.
2. dir 명령을 실행하고 그 결과를 변수에 담는다.
3. dir 명령의 결과를 출력한다.

In [ ]:
# [Q10] Code

import os

os.chdir("/content/doit")

result = os.popen("dir")

print(result.read())

Q10.py

## Q11.
> glob 모듈을 사용하여 ./doit 디렉터리의 파일 중 확장자가 .py인 파일만 출력하는 프로그램을 작성해 보자.

In [ ]:
# [Q11] Code

import glob
glob.glob("/content/doit/*.py")

['/content/doit/Q10.py']

## Q12.
> time 모듈을 사용하여 현재 날짜와 시간을 다음과 같은 형식으로 출력해 보자.

- 2018/04/03 17:20:32

In [ ]:
# [Q12] Code
import time

time.strftime("%Y/%m/%d %H:%M:%S")
# %Y 년도 출력
# %m 월 출력
# %d 일 출력
# %H 시간 출력
# %M 분 출력
# %S 초 출력

'2021/06/05 13:06:52'

## Q13.
> random 모듈을 사용하여 로또 번호(1~45 사이의 숫자 6개)를 생성해 보자(단 중복된 숫자가 있으면 안 됨).

In [ ]:
# [Q13] Code
import random
lotto = []                         # lotto 리스트 생성

while len(lotto) < 6:              # len(lotto)가 6 보다 작으면 반복
   numbers = random.randint(1, 45) # 1~45의 숫자중 하나를 반환
   if numbers not in lotto:        # 반환한 숫자가 리스트 lotto에 포함되지 않을 경우
       lotto.append(numbers)       # 반환한 숫자를 리스트 lotto에 추가
       print(numbers, end=' ')     # 반환한 숫자 출력

15 44 17 39 28 13

In [ ]:
# code 2
import random
def random_pop(data):
    number = random.randint(0, len(data)-1)  # 0에서 len(data)-1 까지의 숫자중 하나 반환
    return data.pop(number)                  # 반환된 숫자 위치에있는 data리스트의 숫자를 꺼내서 반환
count = 0                                    # count 초기화

if __name__ == "__main__":
    data = list(range(1,46))                 # data에 1부터45까지의 숫자 리스트 생성
    while count < 6:                         # 6번 반복
       count += 1
       print(random_pop(data), end=" ")      # 반환된 숫자 출력

25 8 37 22 6 31

In [ ]:
# code 3

def random_pop(data):
    number = random.choice(data)  # data리스트중 랜덤한 숫자 반환
    data.remove(number)           # 위의 반환된 number을 data리스트에서 제거
    return number                 # number 반환
count = 0                         # count 초기화

if __name__ == "__main__":
    data = list(range(1,46))      # data에 1부터45까지의 숫자 리스트 생성
    while count < 6:              # 6번 반복
       count += 1
       print(random_pop(data), end=" ") # 반환된 숫자 출력

9 25 1 16 4 36

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. github repo에 연습결과 노트를 올리시오.
        - 제출노트: ch5_exercises_id.ipynb